* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overall Container */

.container {
  width: 90%;
  max-width: 650px;
}

.container h1 {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

/* Task Input Section */

.input-section {
  display: flex;
  gap: 10px;
  margin: 50px 0;
}

.input-section input {
  flex: 1;
  padding: 12px;
  border: 2px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.input-section input:focus {
  border-color: rgb(161, 60, 255);
  box-shadow: 0 0 10px rgba(161, 60, 255, 0.5);
}

/*  Add Button */

.input-section button {
  padding: 12px 20px;
  border: none;
  background: rgb(161, 60, 255);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.input-section button:hover {
  background: #8b5cf6;
}

/* Task List */

#taskList {
  margin-top: 25px;
  list-style: none;
}

#taskList li {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  margin: 10px 0;
  background: #1b1b3d;
  border: 1px solid rgba(161, 60, 255, 0.4);
  color: white;
  border-radius: 10px;
  transition: 0.3s ease;
}

.task-item:hover {
  transform: translateY(-2px);
}

/* Edit Button */

.edit-btn {
  padding: 8px 15px;
  margin-left: auto;
  margin-right: 10px;
  border: 2px solid #8b5cf6;
  border-radius: 8px;
  background-color: #2d2835;
  font-size: 15px;
  color: #8b5cf6;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-btn:hover {
  transform: scale(1.05);
}

.edit-btn i {
  margin-right: 6px;
}

/* Edit Button Input */

.edit-input {
  flex: 1;
  margin-right: 15px;
  padding: 8px 12px;
  border: 2px solid #8b5cf6;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.edit-input:focus {
  box-shadow: 0 0 8px rgba(139, 92, 246, 0.5);
}

/* Delete Button */

.delete-btn {
  padding: 8px 15px;
  border: 2px solid rgb(189, 85, 85);
  border-radius: 8px;
  background-color: #2d2835;
  font-size: 15px;
  color: rgb(189, 85, 85);
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-btn:hover {
  transform: scale(1.05);
}

.delete-btn i {
  margin-right: 6px;
}

/* Complete Checkbox */

.completed {
  opacity: 0.7;
  background: #16213d;
  transition: all 0.3s ease;
}

.completed span {
  text-decoration: line-through;
  color: #94a3b8;
}

.task-item input[type="checkbox"] {
  cursor: pointer;
  margin-right: 15px;
}

/* Empty Message */

#emptyMessage {
  text-align: center;
  margin-top: 30px;
  color: #9ca3af;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Task Counter */

.task-counter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  color: #94a3b8;
  margin: 20px 0;
  padding: 12px 18px;
}

.task-counter span span {
  font-weight: bold;
  color: white;
}
